# NLP Features Extraction

# 5. Featurizing text data with tfidf weighted word-vectors:

In [1]:
# import required liabraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
import sys
import os 
from tqdm import tqdm
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
import spacy

In [2]:
# load data
df = pd.read_csv('train.csv')

In [3]:
# convert all questions into string
df['question1'] = df['question1'].apply(lambda x: str(x))
df['question2'] = df['question2'].apply(lambda x: str(x))

## 5.1 TF-IDF vectorization of text data:

In [4]:
# get tf-idf for all words
# merge texts
questions = list(df['question1']) + list(df['question2'])

tfidf = TfidfVectorizer()
tfidf.fit_transform(questions)

# dict key:word and value:tf-idf score
word2tfidf = dict(zip(tfidf.get_feature_names(), tfidf.idf_))

In [5]:
word2tfidf

{'000': 5.204692619390966,
 '10': 5.61015772749913,
 '11': 5.61015772749913,
 '11th': 5.61015772749913,
 '14': 5.204692619390966,
 '1822': 5.61015772749913,
 '19': 5.204692619390966,
 '1952': 5.61015772749913,
 '20s': 5.61015772749913,
 '21': 5.61015772749913,
 '23': 5.61015772749913,
 '24': 5.61015772749913,
 '25': 5.61015772749913,
 '30': 5.204692619390966,
 '3768': 5.61015772749913,
 '3d': 5.204692619390966,
 '425': 5.61015772749913,
 '50': 5.61015772749913,
 '60000': 5.61015772749913,
 '60k': 5.61015772749913,
 '855': 5.61015772749913,
 'about': 4.357394759003762,
 'abstract': 5.204692619390966,
 'account': 5.204692619390966,
 'active': 5.61015772749913,
 'actually': 5.61015772749913,
 'address': 5.61015772749913,
 'aerodynamically': 5.61015772749913,
 'affect': 5.61015772749913,
 'affected': 5.61015772749913,
 'affects': 5.61015772749913,
 'after': 4.693866995624976,
 'aircraft': 5.204692619390966,
 'alive': 5.61015772749913,
 'all': 4.693866995624976,
 'already': 5.61015772749913,
 'also': 5.61015772749913,
 'always': 4.693866995624976,
 'am': 4.917010546939185,
 'an': 4.2238633663792395,
 'and': 2.9021075263969207,
 'android': 5.61015772749913,
 'answered': 5.204692619390966,
 'any': 5.204692619390966,
 'aoa': 5.61015772749913,
 'apm': 5.61015772749913,
 'application': 5.204692619390966,
 'apply': 5.204692619390966,
 'are': 2.9021075263969207,
 'around': 5.204692619390966,
 'as': 5.204692619390966,
 'ascendant': 5.61015772749913,
 'asians': 5.61015772749913,
 'ask': 4.511545438831021,
 'asks': 5.61015772749913,
 'associate': 5.61015772749913,
 'astrology': 5.61015772749913,
 'at': 4.106080330722856,
 'attend': 5.61015772749913,
 'attended': 5.61015772749913,
 'attracted': 5.61015772749913,
 'auto': 5.61015772749913,
 'average': 5.61015772749913,
 'avoid': 5.61015772749913,
 'away': 5.204692619390966,
 'back': 4.917010546939185,
 'backward': 5.61015772749913,
 'backwards': 5.61015772749913,
 'bad': 5.61015772749913,
 'bangladeshis': 5.61015772749913,
 'banglore': 5.61015772749913,
 'based': 5.61015772749913,
 'batch': 5.61015772749913,
 'be': 3.6642475784438173,
 'because': 5.204692619390966,
 'become': 4.693866995624976,
 'been': 5.61015772749913,
 'before': 5.61015772749913,
 'being': 4.917010546939185,
 'best': 3.4700915640028596,
 'better': 5.204692619390966,
 'between': 4.917010546939185,
 'billionaire': 5.61015772749913,
 'biotechnology': 5.204692619390966,
 'biprism': 5.61015772749913,
 'birthday': 5.204692619390966,
 'bjp': 5.61015772749913,
 'blacklist': 5.61015772749913,
 'blu': 5.204692619390966,
 'board': 5.61015772749913,
 'boats': 5.61015772749913,
 'body': 5.61015772749913,
 'book': 4.357394759003762,
 'boosters': 5.61015772749913,
 'bored': 5.61015772749913,
 'boy': 5.61015772749913,
 'boyfriend': 5.204692619390966,
 'breaking': 5.61015772749913,
 'breakup': 5.61015772749913,
 'breast': 5.204692619390966,
 'bullet': 5.61015772749913,
 'bullets': 5.61015772749913,
 'burma': 5.204692619390966,
 'busy': 5.61015772749913,
 'buy': 5.61015772749913,
 'by': 3.905409635260705,
 'ca': 5.204692619390966,
 'call': 5.61015772749913,
 'caltech': 5.204692619390966,
 'cambodia': 5.204692619390966,
 'can': 2.6923869954148514,
 'canada': 5.61015772749913,
 'cancer': 5.204692619390966,
 'cap': 5.61015772749913,
 'capricorn': 5.204692619390966,
 'carbon': 5.61015772749913,
 'card': 5.204692619390966,
 'career': 4.917010546939185,
 'cares': 5.61015772749913,
 'cas': 5.61015772749913,
 'causes': 4.917010546939185,
 'causing': 5.61015772749913,
 'cbse': 5.61015772749913,
 'cc': 5.61015772749913,
 'change': 5.204692619390966,
 'character': 5.61015772749913,
 'chart': 5.61015772749913,
 'charter': 5.61015772749913,
 'chemistry': 5.61015772749913,
 'child': 5.61015772749913,
 'childern': 5.61015772749913,
 'choose': 5.204692619390966,
 'christians': 5.61015772749913,
 'citizens': 5.61015772749913,
 'citizenship': 5.61015772749913,
 'city': 5.61015772749913,
 'civil': 5.61015772749913,
 'class': 5.204692619390966,
 'clip': 5.61015772749913,
 'clock': 5.204692619390966,
 'cognizant': 5.204692619390966,
 'come': 5.61015772749913,
 'comments': 5.204692619390966,
 'commercial': 5.204692619390966,
 'company': 4.917010546939185,
 'compare': 4.693866995624976,
 'completely': 5.61015772749913,
 'components': 5.61015772749913,
 'computer': 5.61015772749913,
 'confirmation': 5.204692619390966,
 'confused': 5.61015772749913,
 'connection': 5.61015772749913,
 'content': 5.61015772749913,
 'contribute': 5.61015772749913,
 'control': 5.61015772749913,
 'conversion': 5.61015772749913,
 'corrupted': 5.61015772749913,
 'cost': 4.917010546939185,
 'could': 5.61015772749913,
 'couple': 5.61015772749913,
 'crude': 5.204692619390966,
 'current': 5.61015772749913,
 'cursed': 5.61015772749913,
 'customer': 5.61015772749913,
 'dance': 5.61015772749913,
 'dark': 5.204692619390966,
 'darth': 5.61015772749913,
 'data': 5.61015772749913,
 'database': 5.204692619390966,
 'day': 4.917010546939185,
 'dcx3400': 5.204692619390966,
 'delicious': 5.61015772749913,
 'deport': 5.61015772749913,
 'depressed': 5.204692619390966,
 'descriptions': 5.61015772749913,
 'despise': 5.204692619390966,
 'despite': 5.61015772749913,
 'determined': 5.61015772749913,
 'devastation': 5.61015772749913,
 'device': 5.61015772749913,
 'di': 5.61015772749913,
 'diamond': 5.204692619390966,
 'did': 4.693866995624976,
 'difference': 5.204692619390966,
 'different': 5.204692619390966,
 'difficult': 5.61015772749913,
 'digital': 5.204692619390966,
 'disconnected': 5.61015772749913,
 'dish': 5.61015772749913,
 'disorder': 5.204692619390966,
 'dissolve': 5.61015772749913,
 'divided': 5.61015772749913,
 'dns': 5.61015772749913,
 'do': 2.6144254539451395,
 'does': 3.5952547069568657,
 'download': 5.61015772749913,
 'dressing': 5.61015772749913,
 'durability': 5.61015772749913,
 'during': 5.61015772749913,
 'dvd': 5.204692619390966,
 'early': 5.61015772749913,
 'earthquake': 5.204692619390966,
 'earthquakes': 5.61015772749913,
 'easily': 5.61015772749913,
 'easy': 5.204692619390966,
 'eaten': 5.204692619390966,
 'effects': 5.204692619390966,
 'ehrhardt': 5.61015772749913,
 'else': 5.61015772749913,
 'email': 5.204692619390966,
 'emotionally': 5.61015772749913,
 'employees': 5.61015772749913,
 'employment': 5.61015772749913,
 'end': 5.61015772749913,
 'energy': 5.204692619390966,
 'english': 4.917010546939185,
 'enjoy': 5.61015772749913,
 'entrepreneur': 5.61015772749913,
 'etc': 5.61015772749913,
 'etiquette': 5.61015772749913,
 'european': 5.61015772749913,
 'evening': 5.61015772749913,
 'ever': 4.357394759003762,
 'every': 5.61015772749913,
 'exam': 5.61015772749913,
 'examples': 5.61015772749913,
 'excluding': 5.61015772749913,
 'expect': 5.204692619390966,
 'experience': 5.204692619390966,
 'expressionism': 5.204692619390966,
 'eye': 5.61015772749913,
 'f1': 5.61015772749913,
 'fairness': 5.61015772749913,
 'family': 5.204692619390966,
 'far': 5.61015772749913,
 'faster': 5.204692619390966,
 'feel': 5.61015772749913,
 'feelings': 5.204692619390966,
 'female': 5.61015772749913,
 'few': 5.61015772749913,
 'field': 5.61015772749913,
 'files': 5.61015772749913,
 'final': 5.204692619390966,
 'find': 4.357394759003762,
 'fire': 5.61015772749913,
 'first': 4.917010546939185,
 'fish': 5.61015772749913,
 'fluently': 5.204692619390966,
 'fm': 5.61015772749913,
 'folks': 5.61015772749913,
 'followers': 5.204692619390966,
 'foods': 5.61015772749913,
 'for': 3.0844290831908747,
 'fought': 5.61015772749913,
 'foundation': 5.61015772749913,
 'framework': 5.61015772749913,
 'free': 5.61015772749913,
 'french': 5.204692619390966,
 'fresher': 5.61015772749913,
 'fresnel': 5.61015772749913,
 'friend': 4.917010546939185,
 'friends': 4.917010546939185,
 'from': 3.8183982582710754,
 'fully': 5.61015772749913,
 'gain': 5.61015772749913,
 'gambler': 5.204692619390966,
 'game': 5.204692619390966,
 'games': 5.61015772749913,
 'gaming': 5.204692619390966,
 'gas': 5.61015772749913,
 'genders': 5.61015772749913,
 'general': 5.61015772749913,
 'genuinely': 5.61015772749913,
 'geologist': 5.204692619390966,
 'germany': 5.61015772749913,
 'get': 4.511545438831021,
 'gets': 5.61015772749913,
 'getting': 5.61015772749913,
 'girl': 5.204692619390966,
 'girlfriend': 5.204692619390966,
 'girls': 5.61015772749913,
 'give': 5.204692619390966,
 'gmail': 4.693866995624976,
 'going': 5.61015772749913,
 'good': 4.511545438831021,
 'google': 5.204692619390966,
 'government': 4.917010546939185,
 'grade': 5.204692619390966,
 'grads': 5.204692619390966,
 'graduating': 5.61015772749913,
 'great': 5.61015772749913,
 'green': 5.204692619390966,
 'grounds': 5.204692619390966,
 'gst': 5.61015772749913,
 'guide': 5.204692619390966,
 'gun': 5.204692619390966,
 'guns': 5.204692619390966,
 'guy': 5.204692619390966,
 'guys': 5.61015772749913,
 'hack': 5.204692619390966,
 'hacking': 5.61015772749913,
 'hands': 5.61015772749913,
 'happen': 5.61015772749913,
 'happens': 5.204692619390966,
 'happy': 5.204692619390966,
 'harry': 5.204692619390966,
 'has': 5.61015772749913,
 'have': 4.511545438831021,
 'hd': 5.61015772749913,
 'he': 5.204692619390966,
 'height': 5.204692619390966,
 'helpful': 5.61015772749913,
 'her': 4.917010546939185,
 'high': 5.204692619390966,
 'his': 4.693866995624976,
 'homework': 5.61015772749913,
 'honest': 5.61015772749913,
 'horcrux': 5.204692619390966,
 'horsepower': 5.61015772749913,
 'how': 2.1924310438857644,
 'hp': 5.61015772749913,
 'if': 4.357394759003762,
 'illegal': 5.61015772749913,
 'immigration': 5.204692619390966,
 'immunity': 5.204692619390966,
 'importance': 5.61015772749913,
 'important': 5.204692619390966,
 'improve': 5.61015772749913,
 'in': 2.8693177035739295,
 'income': 5.61015772749913,
 'increase': 4.511545438831021,
 'increased': 5.61015772749913,
 'india': 4.693866995624976,
 'indian': 5.204692619390966,
 'influences': 5.61015772749913,
 'initiative': 5.61015772749913,
 'inr': 5.61015772749913,
 'instagram': 5.204692619390966,
 'instead': 5.204692619390966,
 'institute': 4.917010546939185,
 'institution': 5.61015772749913,
 'international': 5.61015772749913,
 'internet': 4.693866995624976,
 'interview': 5.204692619390966,
 'into': 5.61015772749913,
 'invest': 5.204692619390966,
 'ip': 5.61015772749913,
 'iris': 5.204692619390966,
 'is': 2.128917638163439,
 'israil': 5.61015772749913,
 'it': 3.5952547069568657,
 'its': 5.204692619390966,
 'japan': 5.61015772749913,
 'java': 5.204692619390966,
 'jealous': 5.204692619390966,
 'jehovah': 5.61015772749913,
 'jeremy': 5.61015772749913,
 'job': 5.204692619390966,
 'jobs': 5.204692619390966,
 'join': 5.61015772749913,
 'juniors': 5.61015772749913,
 'just': 5.61015772749913,
 'kamchatca': 5.61015772749913,
 'karnataka': 5.61015772749913,
 'keep': 5.61015772749913,
 'keeps': 5.61015772749913,
 'kickass': 5.204692619390966,
 'kid': 5.204692619390966,
 'know': 5.204692619390966,
 'knowing': 5.61015772749913,
 'koh': 5.204692619390966,
 'kohinoor': 5.204692619390966,
 'kurukshetra': 5.61015772749913,
 'kv': 5.61015772749913,
 'language': 5.204692619390966,
 'laptop': 5.204692619390966,
 'laptops': 5.61015772749913,
 'launcher': 5.204692619390966,
 'law': 5.61015772749913,
 'laws': 5.204692619390966,
 'learn': 4.106080330722856,
 'leave': 5.61015772749913,
 'legends': 5.61015772749913,
 'legs': 5.61015772749913,
 'lessons': 5.61015772749913,
 'level': 5.204692619390966,
 'life': 4.917010546939185,
 'lightning': 5.204692619390966,
 'like': 4.106080330722856,
 'likely': 5.61015772749913,
 'limit': 5.61015772749913,
 'log': 5.61015772749913,
 'logged': 5.204692619390966,
 'lonely': 5.61015772749913,
 'long': 5.61015772749913,
 'longer': 5.61015772749913,
 'look': 5.204692619390966,
 'looking': 5.204692619390966,
 'lost': 5.61015772749913,
 'lying': 5.61015772749913,
 'made': 5.204692619390966,
 'mail': 4.917010546939185,
 'major': 4.917010546939185,
 'majors': 5.204692619390966,
 'make': 3.738355550597539,
 'makes': 5.61015772749913,
 'making': 5.204692619390966,
 'male': 5.61015772749913,
 'management': 5.61015772749913,
 'manager': 5.204692619390966,
 'manipulation': 5.204692619390966,
 'many': 5.204692619390966,
 'market': 5.204692619390966,
 'marketing': 5.204692619390966,
 'master': 5.61015772749913,
 'math': 5.61015772749913,
 'maul': 5.61015772749913,
 'me': 4.693866995624976,
 'mean': 4.693866995624976,
 'means': 5.61015772749913,
 'medicine': 5.61015772749913,
 'medicines': 5.61015772749913,
 'memorable': 5.61015772749913,
 'mentally': 5.61015772749913,
 'mercy': 5.204692619390966,
 'methane': 5.61015772749913,
 'method': 5.61015772749913,
 'model': 5.61015772749913,
 'molecules': 5.61015772749913,
 'money': 4.693866995624976,
 'month': 5.204692619390966,
 'moon': 5.204692619390966,
 'more': 5.61015772749913,
 'most': 4.511545438831021,
 'motorola': 5.204692619390966,
 'motorolla': 5.61015772749913,
 'movie': 5.61015772749913,
 'movies': 5.61015772749913,
 'much': 4.2238633663792395,
 'muslims': 5.61015772749913,
 'my': 3.412933150162911,
 'name': 5.61015772749913,
 'narcissistic': 5.204692619390966,
 'national': 5.204692619390966,
 'nd': 5.61015772749913,
 'new': 4.511545438831021,
 'next': 4.693866995624976,
 'night': 5.204692619390966,
 'nightmare': 5.61015772749913,
 'nightmares': 5.61015772749913,
 'nitk': 5.204692619390966,
 'no': 5.204692619390966,
 'noor': 5.204692619390966,
 'normal': 5.61015772749913,
 'nose': 5.204692619390966,
 'not': 4.693866995624976,
 'notable': 5.61015772749913,
 'number': 4.693866995624976,
 'numbers': 5.61015772749913,
 'obama': 5.61015772749913,
 'occurs': 5.61015772749913,
 'of': 2.6397432619294294,
 'off': 5.61015772749913,
 'office': 5.204692619390966,
 'officers': 5.61015772749913,
 'oil': 5.204692619390966,
 'old': 5.204692619390966,
 'on': 3.6642475784438173,
 'one': 4.511545438831021,
 'online': 4.693866995624976,
 'open': 5.61015772749913,
 'or': 4.2238633663792395,
 'our': 5.204692619390966,
 'out': 5.61015772749913,
 'overlap': 5.61015772749913,
 'own': 5.61015772749913,
 'oxide': 5.61015772749913,
 'painted': 5.61015772749913,
 'painting': 5.61015772749913,
 'part': 5.204692619390966,
 'password': 5.204692619390966,
 'paying': 5.61015772749913,
 'people': 4.511545438831021,
 'performance': 5.204692619390966,
 'person': 5.61015772749913,
 'personality': 5.204692619390966,
 'phone': 4.511545438831021,
 'physics': 4.693866995624976,
 'place': 5.61015772749913,
 'planning': 5.61015772749913,
 'play': 5.204692619390966,
 'player': 5.204692619390966,
 'political': 5.61015772749913,
 'possible': 5.204692619390966,
 'posting': 5.61015772749913,
 'potter': 5.61015772749913,
 'preparation': 5.61015772749913,
 'prepare': 4.693866995624976,
 'presently': 5.61015772749913,
 'presidency': 5.204692619390966,
 'prevent': 5.61015772749913,
 'preventable': 5.61015772749913,
 'printing': 5.204692619390966,
 'privacy': 5.61015772749913,
 'procedure': 5.61015772749913,
 'process': 5.204692619390966,
 'produced': 5.61015772749913,
 'product': 5.204692619390966,
 'products': 5.204692619390966,
 'profile': 5.61015772749913,
 'program': 5.204692619390966,
 'programming': 5.61015772749913,
 'programs': 5.204692619390966,
 'propellor': 5.61015772749913,
 'proving': 5.204692619390966,
 'pune': 5.61015772749913,
 'purpose': 5.204692619390966,
 'put': 5.61015772749913,
 'question': 5.61015772749913,
 'questions': 4.917010546939185,
 'quickbooks': 5.204692619390966,
 'quickest': 5.61015772749913,
 'quikly': 5.61015772749913,
 'quora': 4.511545438831021,
 'radio': 5.61015772749913,
 'rap': 5.204692619390966,
 'ray': 5.204692619390966,
 'rbi': 5.204692619390966,
 're': 5.61015772749913,
 'reach': 5.204692619390966,
 'read': 5.204692619390966,
 'readily': 5.61015772749913,
 'real': 5.61015772749913,
 'realized': 5.61015772749913,
 'rebel': 5.61015772749913,
 'recover': 5.204692619390966,
 'recovery': 4.917010546939185,
 'recruit': 5.204692619390966,
 'reference': 5.204692619390966,
 'registration': 5.61015772749913,
 'regular': 5.204692619390966,
 'reject': 5.61015772749913,
 'rejecting': 5.61015772749913,
 'reliability': 5.61015772749913,
 'remainder': 5.61015772749913,
 'remember': 5.204692619390966,
 'reply': 5.61015772749913,
 'requirement': 5.61015772749913,
 'review': 4.917010546939185,
 'rewarding': 5.61015772749913,
 'rexnord': 5.61015772749913,
 'richest': 5.204692619390966,
 'right': 5.61015772749913,
 'ring': 5.204692619390966,
 'rising': 5.204692619390966,
 'rockets': 5.204692619390966,
 'rohingya': 5.204692619390966,
 'romantic': 5.204692619390966,
 'rotates': 5.61015772749913,
 'rowling': 5.61015772749913,
 'rs': 5.61015772749913,
 'rsi': 5.204692619390966,
 'run': 5.61015772749913,
 'sad': 5.61015772749913,
 'said': 5.61015772749913,
 'salad': 5.61015772749913,
 'salary': 5.61015772749913,
 'sales': 5.61015772749913,
 'salt': 5.204692619390966,
 'same': 5.61015772749913,
 'say': 5.204692619390966,
 'secretly': 5.61015772749913,
 'see': 5.61015772749913,
 'seem': 5.61015772749913,
 'seen': 5.61015772749913,
 'selling': 5.61015772749913,
 'senior': 5.61015772749913,
 'separation': 5.61015772749913,
 'service': 5.61015772749913,
 'sexual': 5.204692619390966,
 'share': 5.204692619390966,
 'she': 4.917010546939185,
 'shot': 5.61015772749913,
 'should': 3.8183982582710754,
 'sincere': 5.61015772749913,
 'sincerity': 5.61015772749913,
 'skills': 5.61015772749913,
 'skype': 5.204692619390966,
 'slavs': 5.61015772749913,
 'slits': 5.61015772749913,
 'so': 4.693866995624976,
 'social': 5.61015772749913,
 'society': 5.204692619390966,
 'software': 5.61015772749913,
 'solve': 5.61015772749913,
 'some': 3.4700915640028596,
 'someone': 4.357394759003762,
 'songs': 5.204692619390966,
 'sound': 5.61015772749913,
 'spain': 5.61015772749913,
 'speak': 5.204692619390966,
 'special': 5.61015772749913,
 'speed': 4.511545438831021,
 'sports': 5.204692619390966,
 'squat': 5.61015772749913,
 'squats': 5.61015772749913,
 'stages': 5.61015772749913,
 'stall': 5.61015772749913,
 'star': 5.61015772749913,
 'states': 5.61015772749913,
 'station': 5.61015772749913,
 'status': 5.204692619390966,
 'step': 5.204692619390966,
 'still': 5.61015772749913,
 'stole': 5.61015772749913,
 'stop': 5.61015772749913,
 'store': 5.204692619390966,
 'story': 5.61015772749913,
 'strip': 5.61015772749913,
 'student': 5.204692619390966,
 'students': 5.204692619390966,
 'study': 5.61015772749913,
 'stuffy': 5.204692619390966,
 'suddenly': 5.61015772749913,
 'sugar': 5.61015772749913,
 'sun': 5.204692619390966,
 'support': 5.204692619390966,
 'surathkal': 5.204692619390966,
 'survive': 5.61015772749913,
 'sweep': 5.61015772749913,
 'swept': 5.61015772749913,
 'swiss': 5.61015772749913,
 'take': 5.204692619390966,
 'tax': 5.61015772749913,
 'tech': 5.61015772749913,
 'technical': 5.61015772749913,
 'technicians': 5.61015772749913,
 'technology': 5.204692619390966,
 'tell': 5.61015772749913,
 'telling': 5.61015772749913,
 'testing': 5.204692619390966,
 'than': 5.204692619390966,
 'that': 4.000719815065031,
 'the': 1.908855753386637,
 'their': 4.917010546939185,
 'them': 5.61015772749913,
 'there': 5.204692619390966,
 'these': 5.204692619390966,
 'they': 4.357394759003762,
 'thicker': 5.61015772749913,
 'thing': 4.917010546939185,
 'things': 5.204692619390966,
 'think': 5.61015772749913,
 'this': 5.204692619390966,
 'those': 5.61015772749913,
 'thrones': 5.204692619390966,
 'through': 4.693866995624976,
 'tiago': 5.61015772749913,
 'time': 4.917010546939185,
 'times': 5.61015772749913,
 'tips': 5.204692619390966,
 'to': 2.411484609948449,
 'together': 5.61015772749913,
 'too': 5.61015772749913,
 'torrent': 5.61015772749913,
 'torrents': 5.61015772749913,
 'trading': 5.204692619390966,
 'travel': 4.693866995624976,
 'treated': 5.61015772749913,
 'triple': 5.61015772749913,
 'true': 5.61015772749913,
 'trump': 5.204692619390966,
 'trustworthy': 5.61015772749913,
 'try': 5.61015772749913,
 'types': 5.204692619390966,
 'under': 5.204692619390966,
 'united': 5.61015772749913,
 'universities': 5.204692619390966,
 'up': 5.61015772749913,
 'upsc': 5.61015772749913,

- After we find TF-IDF scores, we convert each question to a weighted average of word2vec vectors by these scores.
- here we use a pre-trained GLOVE model which comes free with "Spacy". https://spacy.io/usage/vectors-similarity
- It is trained on Wikipedia and therefore, it is stronger in terms of word semantics.
- In spacy we convert text to vector by considering language context.

## 5.2 Convert text to vector using spacy:

In [12]:
# load GLOVE model 
nlp = spacy.load('en_core_web_lg')

### 5.2.1 Try word-vector on a random question

In [24]:
x=nlp(df['question1'][11])
x.vector

array([ 1.0431499e+00,  1.3612869e+00, -3.4183400e+00, -3.7782669e+00,
       -1.8615010e+00,  1.3851540e+00,  6.2170732e-01,  3.0585918e+00,
       -5.3122711e+00,  4.4488840e+00,  3.5047364e+00,  3.1845810e+00,
       -3.8897929e+00,  6.6143703e-01,  3.6515746e+00, -3.3975768e+00,
        2.8977280e+00, -5.2005253e+00, -1.7853858e+00,  2.0627396e-01,
        7.6412398e-01, -5.5799484e-03,  9.6745394e-02, -4.6930485e+00,
       -1.6440490e+00, -1.1981790e+00, -1.0980819e+00, -4.7003001e-01,
       -2.2188442e+00,  3.2277062e+00,  1.3228920e+00, -2.2118580e+00,
       -5.9487885e-01,  2.2155700e+00,  2.8506119e+00,  2.5766900e-01,
       -1.0633795e+00,  1.6896591e-01,  5.3619795e+00,  2.8589251e+00,
       -1.3337719e+00,  1.1357700e+00,  4.4796991e-01, -2.9051621e+00,
        1.0272939e+00,  6.4028829e-01, -1.3912159e+00, -3.1668720e+00,
       -1.3765252e+00, -5.8780123e-02,  1.9106687e+00,  8.0875713e-01,
        6.2229997e-01, -4.4842696e+00, -2.7786410e+00, -2.4545054e+00,
       -1.5677379e+00,  2.4917438e+00, -5.5873996e-01,  9.8409700e-01,
        5.8179803e+00,  1.5257004e-01, -9.5495987e-01, -4.1326004e-01,
       -1.6077420e+00,  1.3841898e+00, -3.4655139e+00, -4.9231791e+00,
       -2.4783096e-01,  3.7846580e+00, -1.0416883e-01, -1.4817518e+00,
        1.4545250e+00, -7.5139105e-01,  2.9835443e+00, -4.0760852e-02,
       -1.3552132e+00, -4.3142194e-01, -9.6646041e-02, -1.6127831e+00,
       -3.1626394e+00,  1.6922090e+00,  3.6249917e+00,  4.9453896e-01,
        1.5918919e+00,  1.0084070e+00,  1.0263701e-01, -7.3690456e-01,
        2.5998670e-01,  1.4356160e+00,  2.7428293e-01,  2.1580842e+00,
        3.2449204e-01, -4.1723819e+00,  3.8324797e-01, -1.9485792e+00,
        1.3491914e+00, -2.1926551e+00,  5.5434549e-01, -1.4424340e+00,
       -9.3458988e-02,  3.1200061e+00, -7.4827701e-01, -5.2551901e-01,
       -1.3604486e+00,  2.6692016e+00, -1.6421850e+00,  4.2589599e-01,
       -2.4194450e+00,  7.3833965e-02,  1.3734272e+00, -3.2816730e+00,
       -6.6351593e-01, -1.0995586e+00,  5.6952012e-01,  3.8451703e+00,
       -8.9619005e-01, -3.3111739e+00,  3.1272802e-01, -1.3378778e-01,
       -3.8328700e+00, -5.2203916e-02, -3.7214897e+00,  1.3253349e+00,
        2.4950480e+00,  1.1208450e+00,  3.2697959e+00,  2.1077403e-01,
       -1.5569041e+00, -9.5374089e-01,  2.8630793e-01,  1.9348351e+00,
        1.9781303e-01, -1.5962721e+00,  6.8747306e-01,  4.0336028e-01,
       -3.6215100e+00, -4.7116799e+00,  5.4346685e+00, -3.5665989e+00,
       -8.7240905e-01,  2.0301070e+00,  1.0629278e+00,  1.4606680e+00,
       -5.4118400e+00, -1.9669101e-01, -1.8298014e-01,  2.0979209e+00,
       -2.4415216e-01, -2.4909854e+00, -1.9719950e+00,  1.0949080e+00,
        4.3503594e-01,  8.5166800e-01, -2.3104198e+00,  9.0966009e-02,
        3.7804642e+00,  1.7921959e+00, -1.3593330e+00,  3.0637693e-01,
       -1.6465279e+00, -2.8641541e+00, -4.3679199e+00,  1.8634670e+00,
       -2.6477499e+00, -9.9259710e-01, -1.7740049e+00,  3.6743203e-01,
       -2.7237701e+00, -1.6642799e+00,  1.9094172e+00, -1.2391630e+00,
        8.0502385e-01,  1.1115119e+00,  3.2277279e+00, -3.4541798e+00,
       -7.0019448e-01,  2.1128769e+00,  8.2283467e-01, -1.6134081e+00,
        7.5261909e-01,  6.4200006e-02,  4.6353412e+00, -1.3787711e+00,
       -1.0232880e+00,  1.1770725e-01,  4.7484097e-01, -5.9084296e+00,
        2.0210731e+00,  1.3903567e+00, -3.2718399e+00,  2.4487743e+00,
       -2.9028020e+00, -2.0050600e-01, -2.3685460e+00, -1.8061721e+00,
       -1.5186230e+00,  1.9259760e+00, -1.6257961e+00,  4.2634702e+00,
       -4.7321939e+00,  1.6318002e-01, -4.5064297e+00, -8.8302404e-01,
       -1.5118800e+00, -5.0127399e-01,  6.7928219e-01, -2.1876304e-01,
        7.0273805e-01, -7.4368793e-01,  7.7793705e-01, -1.4556911e+00,
        2.2457020e+00,  3.1307030e-02, -3.4847958e+00,  4.9854380e-01,
       -2.0708113e+00,  5.1444358e-01, -2.3796499e-01,  1.2317001e+00,
       -2.3864300e+00,  1.3761389e+00,  8.5222995e-01,  1.9894272e+00,
        1.2044580e+00, -3.3969700e-01,  7.1297199e-01,  2.3844302e-01,
        2.6758912e+00,  1.9657249e+00, -5.0952473e+00, -2.5718799e+00,
        1.4403940e+00, -2.6159096e+00, -1.1855100e+00,  1.2609619e+00,
       -1.9090259e+00,  3.8216679e+00,  2.5560966e+00,  5.1006198e-01,
       -5.1905456e+00, -1.2063520e+00,  7.5628996e-01,  6.0836971e-02,
        6.5007293e-01,  2.0980389e+00, -2.7489800e+00, -1.0750450e+00,
        2.6683531e+00,  1.7148911e+00, -2.2552156e+00,  5.3629094e-01,
       -4.6730814e+00, -2.5956035e-02,  4.9990493e-01, -3.2324624e+00,
        2.1519718e+00, -7.6301187e-01, -3.8625569e+00,  1.9850820e+00,
        2.4471724e+00,  5.0358653e-01,  1.4659843e+00,  2.1888878e+00,
        3.8623290e+00,  3.7578993e-02,  5.1256907e-01,  1.1395850e+00,
       -4.9096518e+00,  6.4223206e-01, -3.6306196e-01, -2.7740700e+00,
       -3.6401088e+00, -6.4377010e-01, -1.9630270e+00, -1.7577972e+00,
        1.5977249e+00, -2.0422170e+00,  1.3586650e+00,  2.8443120e+00,
       -5.1182599e+00, -1.4713601e+00,  3.4189492e-01, -8.4019005e-01,
        1.4307753e+00,  8.2521093e-01,  2.9632792e+00,  1.2678080e+00,
       -3.5898788e+00, -9.9817015e-02,  2.3815186e+00, -1.7809929e+00,
        2.8842640e+00, -2.7889810e+00, -8.8317806e-01, -3.9529636e+00,
        9.4723083e-02,  1.4660245e+00, -5.5726800e+00, -1.1965730e+00],
      dtype=float32)

### Check length of vector

In [11]:
len(x.vector)

300

Yes, we are getting 300 dimension vector for a question.

### 5.2.2 Convert each question to a weighted average of word2vec vectors

In [15]:
# convert each question to a weighted average of word2vec vectors
vecs1 = []
# tqdm is used to print the progrss bar
for qu1 in tqdm(list(df['question1'])):
    doc1 = nlp(qu1) 
    # 300 is the number of dimensions of vectors 
    mean_vec1 = np.zeros([len(doc1), len(doc1[0].vector)])
    for word1 in doc1:
      # word2vec
        vec1 = word1.vector
        # fetch TF-IDF score
        try:
            idf = word2tfidf[str(word1)]
        except:
            idf = 0
        # compute final vec
        mean_vec1 += vec1 * idf
    mean_vec1 = mean_vec1.mean(axis=0)
    vecs1.append(mean_vec1)
df['q1_feats_m'] = list(vecs1)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:01<00:00, 52.74it/s]

In [16]:
# convert each question to a weighted average of word2vec vectors
vecs2 = []
for qu2 in tqdm(list(df['question2'])):
    doc2 = nlp(qu2) 
    mean_vec2 = np.zeros([len(doc2), len(doc2[0].vector)])
    for word2 in doc2:
        # word2vec
        vec2 = word2.vector
        # fetch df score
        try:
            idf = word2tfidf[str(word2)]
        except:
            idf = 0
        # compute final vec
        mean_vec2 += vec2 * idf
    mean_vec2 = mean_vec2.mean(axis=0)
    vecs2.append(mean_vec2)
df['q2_feats_m'] = list(vecs2)

100%|████████████████████████████████████████████████████████████████████████████████| 100/100 [00:01<00:00, 52.19it/s]

In [21]:
df.head(2)

,id,qid1,qid2,question1,question2,is_duplicate,q1_feats_m,q2_feats_m
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,"[-33.71826529502869, 52.07591262459755, -190.2...","[-21.711020708084106, 58.97545304894447, -176...."
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,"[-24.400290727615356, -14.92566442489624, 4.37...","[-60.13240456581116, 53.79257869720459, -82.05..."

In [18]:
# convert spacy vectors into dataframe
df3 = df.drop(['qid1','qid2','question1','question2','is_duplicate'],axis=1)
df3_q1 = pd.DataFrame(df3.q1_feats_m.values.tolist(), index= df3.index)
df3_q2 = pd.DataFrame(df3.q2_feats_m.values.tolist(), index= df3.index)

In [19]:
df3_q1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-33.718265,52.075913,-190.222739,-6.310965,146.169675,37.858362,-50.408487,143.494773,-131.796247,-18.780596,...,99.124639,-89.743293,-95.871759,59.600663,-13.629919,45.095505,-22.753867,-141.951119,-103.940463,78.642948
1,-24.400291,-14.925664,4.378237,-35.705061,102.353249,-18.293517,39.875559,101.587643,9.124969,-19.278654,...,40.453911,13.793268,17.980357,15.917600,-18.913580,-9.426158,10.214470,-39.973645,-38.393773,4.155893

In [20]:
df3_q2.head(2)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-21.711021,58.975453,-176.973742,-12.810946,97.421693,48.931264,-54.897399,117.241863,-161.155633,-7.480803,...,73.738798,-71.788306,-88.084183,70.597865,10.619926,9.005640,-18.064971,-106.613731,-92.589156,81.796279
1,-60.132405,53.792579,-82.058676,-12.650138,61.951646,64.926366,15.032457,138.998489,34.174074,20.495804,...,56.765928,16.049368,57.089808,61.829167,-57.729120,28.564083,-57.742117,47.643656,-75.674653,54.595995

In [ ]:
# storing the q1 vector and q2 vector to csv file
df3_q1.to_csv("df3_q1.csv", index = False)
df3_q2.to_csv("df3_q2.csv", index = False)

## 5.3 Store all final features to csv file (basic + advanced + nlp):

In [68]:
# load basic + adv features data
df1 = pd.read_csv("basic+adv features.csv.csv")

In [80]:
# basic extracted features
df1.head(2)

,id,is_duplicate,q1len,q2len,q1+q2_len,q1-q2_len,q1_words,q2_words,total_words,words_difference,simillar_words,simillar_words_count,word_share,first_word_same
0,0,0,66,57,123,9,14,12,26,2,"{'What', 'invest', 'to', 'guide', 'step', 'is'...",10,0.384615,1
1,1,0,51,88,139,37,8,13,21,5,"{'What', '(Koh-i-Noor)', 'the', 'Kohinoor'}",4,0.190476,1

In [62]:
# spacy vector dataframe of question1
df3_q1.head(2)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-33.718265,52.075913,-190.222739,-6.310965,146.169675,37.858362,-50.408487,143.494773,-131.796247,-18.780596,...,99.124639,-89.743293,-95.871759,59.600663,-13.629919,45.095505,-22.753867,-141.951119,-103.940463,78.642948
1,-24.400291,-14.925664,4.378237,-35.705061,102.353249,-18.293517,39.875559,101.587643,9.124969,-19.278654,...,40.453911,13.793268,17.980357,15.917600,-18.913580,-9.426158,10.214470,-39.973645,-38.393773,4.155893

In [63]:
# spacy vector dataframe of question2
df3_q2.head(2)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,-21.711021,58.975453,-176.973742,-12.810946,97.421693,48.931264,-54.897399,117.241863,-161.155633,-7.480803,...,73.738798,-71.788306,-88.084183,70.597865,10.619926,9.005640,-18.064971,-106.613731,-92.589156,81.796279
1,-60.132405,53.792579,-82.058676,-12.650138,61.951646,64.926366,15.032457,138.998489,34.174074,20.495804,...,56.765928,16.049368,57.089808,61.829167,-57.729120,28.564083,-57.742117,47.643656,-75.674653,54.595995

In [ ]:
# merge all dataframes
df3_q1['id']=df1['id']
df3_q2['id']=df1['id']

df2  = df3_q1.merge(df3_q2, on='id',how='left')
res  = df1.merge(df2, on='id',how='left')

In [ ]:
# storing the final features to csv file
res.to_csv("all final features.csv", index = False)